<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.itonglian.utils.DruidDataSourceFactory"
                   alias="DRUID" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="DRUID">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="mysql://123.207.154.188:3306/cap-aco-2.0.1?rewriteBatchedStatements=true"/>
                <property name="username" value="gp"/>
                <property name="password" value="Gp6685840"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="/mapper/OfChat.xml"/>
    </mappers>
</configuration>